h2 {
    @media screen and (max-width: 768px) {
        text-align: center;
    }
}

.subscriber {
    margin: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 768px) {
        display: flex;
        flex-flow: column;
    }
    .mail {
        @media screen and (max-width: 768px) {
            text-align: center;
            font-size: 1.7rem;
            display: flex;
            flex-flow: column;
        }
        @media screen and (max-width: 420px) {
            overflow-x: scroll;
            max-width: 100%;
        }
    }
    button {
        background: #862c2c;
        margin-top: 0;
        @media screen and (max-width: 768px) {
            margin-top: 1.5rem;
            font-size: 1.6rem;
        }
    }
    &-list {
        height: 30rem;
        overflow-y: scroll;
        margin-top: 2rem;
        margin-bottom: 1rem;
        @media screen and (max-width: 768px) {
            height: 15rem;
            p {
                font-size: 1.3rem;
            }
        }
        @media screen and (max-width: 420px) {
            overflow-x: scroll;
            height: 12rem;
            max-width: 280px;
        }
    }
}

.customForm {
    p {
        margin-bottom: 1.8rem;
    }
}
