header{
    background: #2f2c2c;
    padding:2rem  1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media screen and (max-width:  768px) {
        flex-flow: column;
        align-items: flex-start;
        padding: 2.5rem 1.5rem;
    }
    p{
        color: White;
        font-size: 2rem;
        span{
            font-weight: bold; 
        } 
    }
    .header-user{
        @media screen and (max-width:  768px) {
            font-size: 1.8rem;
            margin-top: 0.5rem;
        }
    }
}
 
.page-container{
    display: flex;
    justify-content: center;
    margin: 10rem 2rem;
    
    &-inner{
        max-width: 140rem;
        width: 100%; 
        position:relative;
    }
    
} 

footer{
    background: #1f1f1f;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    p{
        @media screen and (max-width:420px){
            text-align:center;
         }
        color: #fefefe;
        font-size: 1.7rem;
        span{
            font-weight: bold;
            @media screen and (max-width:420px){
               display: block;
            }
        }
       
    }
}
