.customForm {
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    button {
        padding: 0.8rem;
        margin-top: 1.5rem;
        &.button-secondary {
            margin-left: 2rem;
        }
    }
    em {
        font-size: 1.5rem;
        float: right;
        margin-top: 0.4rem;
    }
}
